*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body{
  height: 100vh;
  background: #eee;
}
.container {
  background: #fff;
  width: 100%;
  height: 200px;
  background: white;
  box-shadow: 0 10px 10px -5px #0001;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.container h1{
  width: 100%;
  padding: 15px;
  font-weight: 400;
  font-size: 22px;
  color: #1577ff;
}
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
label span {
  padding: 15px 25px;
  text-align: right;
  font-size: 16px;
}
